<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-1 form-box">
      <div class="form-bottom",  style='border-radius:4px; margin-left:3em;width:165%'>
        <h1 class="center-text">EDIT TRADE EVENT</h1><br>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
<br>
<%= link_to 'Show', @trade_event, class: "btn-link-2" %> 
<%= link_to 'Back', trade_events_path, class: "btn-link-2" %>
