<div>
  <nav class="container navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>
      <div id="navbar2" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">

          <li><a href="#">Welcome Customer<i class="fa fa-user" aria-hidden="true"></i></a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Change Username</a></li>
              <li><a href="#">CHange Password</a></li>
              <li><a href="#">Update Name and Address</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>
<section class="enter-site">
  <div class="container">
    <button class="btn btn-primary shoose" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      FIND
    </button>
    <div class="collapse" id="collapseExample">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="list-group select">
            <form role="form" action="" method="post" class="find-something">
              <a href="#" class="list-group-item">FIND SHOW</a>
              <a href="#" class="list-group-item">FIND MANUFACTURER</a>
              <a href="#" class="list-group-item">FIND PRODUCT</a>
            </form>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="container">
    <button class="btn btn-primary shoose" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
      CREATE
    </button>
    <div class="collapse" id="collapseExample2">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="list-group select">
            <form role="form" action="" method="post" class="create-something">
              <a href="#" class="list-group-item">CREATE SHOW</a>
              <a href="#" class="list-group-item">CREATE MANUFACTURER</a>
              <a href="#" class="list-group-item">CREATE PRODUCT</a>
            </form>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
